<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .flex{
            flex-wrap: wrap;
        }
    </style>
</head>
<body>

        clieb name</span>
    <div class="flex" style="padding: 2%;margin:2%;border-radius: 15px;display:inline-block;background-color:#f7f7f9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <center><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="100px"  alt="" srcset=""></center>
        <h3>compnay name</h3>
        clieb name
    </div>
    <div class="flex" style="padding: 2%;margin:2%;border-radius: 15px;display:inline-block;background-color:#f7f7f9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <center><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="100px"  alt="" srcset=""></center>
        <h3>compnay name</h3>
        clieb name
    </div>
    <div class="flex" style="padding: 2%;margin:2%;border-radius: 15px;display:inline-block;background-color:#f7f7f9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <center><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="100px"  alt="" srcset=""></center>
        <h3>compnay name</h3>
        clieb name
    </div>
    <div class="flex" style="padding: 2%;margin:2%;border-radius: 15px;display:inline-block;background-color:#f7f7f9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <center><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="100px"  alt="" srcset=""></center>
        <h3>compnay name</h3>
        clieb name
    </div>
    <div class="flex" style="padding: 2%;margin:2%;border-radius: 15px;display:inline-block;background-color:#f7f7f9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <center><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="100px"  alt="" srcset=""></center>
        <h3>compnay name</h3>
        clieb name
    </div>
    <div class="flex" style="padding: 2%;margin:2%;border-radius: 15px;display:inline-block;background-color:#f7f7f9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <center><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="100px"  alt="" srcset=""></center>
        <h3>compnay name</h3>
        clieb name
    </div>
    <div class="flex" style="padding: 2%;margin:2%;border-radius: 15px;display:inline-block;background-color:#f7f7f9;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <center><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="100px"  alt="" srcset=""></center>
        <h3>compnay name</h3>
        clieb name
    </div>
    
</body>
</html>